@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}


p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

