/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
app-forms-page .container {
  margin-top: -5px !important;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #12b08b !important;
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #12b08b !important;
  color: white !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #12b08b !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #12b08b !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #12b08b !important;
}
.swal2-styled.swal2-confirm {
  background-color: #12b08b !important;
  color: white !important;
}
app-all-data-view {
  .navbar {
    background-color: white;
  }
}
app-forms-page{
  .navbar {
    background-color: white;
  }
}
app-navigation-won{
  .navbar {
    background-color: white;
  }
}
app-pending-data-view{
  .navbar {
    background-color: white;
  }
}
